{{- define "JoinFields"}}
	{{- range $key, $Type := . -}}
		{{- if ne $key 0}}, {{end -}}
		{{- $Type.Name -}}
	{{- end -}}
{{end -}}
{{- define "JoinParameters"}}
    {{- range $key, $Type := . -}}
		{{- if ne $key 0}}, {{end}}
		{{- $Type.Field.VariableName}} {{$Type.Name}}
	{{- end -}}
{{end -}}

{{- define "JoinFuncCallParameters"}}
    {{- range $key, $Type := . -}}
		{{- if ne $key 0}}, {{end}}
		{{- $Type.Field.VariableName}}
	{{- end -}}
{{end -}}

{{- define "PreProcess"}}
{{- if ne .Options.PreProcess ""}}
	{{if .Options.Error}}err = {{end}}{{.Options.PreProcess}}({{template "JoinFuncCallParameters" .To}}, {{template "JoinFuncCallParameters" .From}})
	{{- if .Options.Error}}
	if err != nil {
		return
	}
    {{- end -}}
{{- end -}}
{{end -}}

{{- define "PostProcess"}}
{{- if ne .Options.PostProcess ""}}
	{{if .Options.Error}}err = {{end}}{{.Options.PostProcess}}({{template "JoinFuncCallParameters" .To}}, {{template "JoinFuncCallParameters" .From}})
{{- end -}}
{{- end -}}

{{ .Keep| bytesToString -}}
{{range $functionKey, $function := .Functions}}
// {{$function.Name}} copies a {{template "JoinFields" $function.From}} to a {{template "JoinFields" $function.To}}.
func {{$function.Name}}({{template "JoinParameters" $function.To}}, {{template "JoinParameters" $function.From}}) {{if $function.Options.Error}}(err error){{end}} {
	{{- template "PreProcess" $function}}
	{{- range $typeKey, $toType := $function.To}}
	// {{$toType.Name}} fields
	{{- range $fieldKey, $toField := $toType.Field.AllFields nil nil -}}
		{{- if $toField.From }}
			{{- with $fromField := $toField.From}}
				{{$toField.FullVariableName ""}}{{if $fromField.Options.Convert.Error}}, err {{end}}= {{""}}
				{{- if ne $fromField.Options.Convert.Ident "" -}}
					{{$fromField.Options.Convert.Ident}}({{$fromField.FullVariableName ""}})
				{{- else -}}
					{{- if eq $toField.FullDefinition $fromField.FullDefinition -}}
						{{$fromField.FullVariableName ""}}
					{{- else if eq (slice $toField.FullDefinition 1) $fromField.FullDefinition -}}
						&{{$fromField.FullVariableName ""}}
					{{- else if eq $toField.FullDefinition (slice $fromField.FullDefinition 1) -}}
						*{{$fromField.FullVariableName ""}}
					{{- end -}}
				{{- end -}}
			{{- end -}}
		{{- end -}}
	{{- end}}
	{{- template "PostProcess" $function}}
	{{- if $function.Options.Error}}

	return{{end}}
	{{end}}}
{{end}}